// z-index
$z-campaign-banner: 5;
$z-campaign-banner: 9;
$z-footer: 10;
$z-header: 100;
$z-menu: 99;

// color
$c-white: #fff;
$c-darkest: #000;
$c-black: #333;
$c-black-l: #393939;
$c-black-border: #555;
$c-text: #314156;
$c-dark: #1f3450;

$c-main: #1075e2;

$c-link: #396beb;

$c-sub: #ff4771;

$c-error: #e70000;

$c-line: #06c755;

// 色候補

// #1482dd ちょっと安っぽい？
// #1075e2

$c-acc: #ff902f;
$c-acc: #ffc107;
