@import "@sass-utils";

.point {
  padding: 16rem 0;
  background-color: $c-white;

  @include sp {
    padding: 8rem 0;
  }

  .en {
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
    display: block;
    letter-spacing: 0.1em;
    text-align: center;
    color: $c-main;

    @include sp {
      font-size: 1.2rem;
    }
  }

  h2 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1.6rem;
    text-align: center;

    @include sp {
      font-size: 2.4rem;
      margin-top: 0.8rem;
    }
  }
}

.blocks {
  margin-top: 6.4rem;

  @include sp {
    margin-top: 3.2rem;
  }
}

.block {
  display: flex;
  gap: 3.2rem;
  background-color: #f5f5f7;
  margin-top: 4rem;
  border-radius: 3rem;
  padding: 4rem;

  @include sp {
    flex-direction: column;
    padding: 1.6rem 1.6rem 2.4rem;
    border-radius: 1.6rem;
    margin-top: 2.4rem;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    @include sp {
      flex-direction: column;
    }
  }

  .thumb {
    width: 36rem;
    height: 36rem;
    background-color: #f5f5f7;
    background-color: $c-white;
    // background-color: rgba($c-main, 1);
    border-radius: 3rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @include sp {
      width: 100%;
      height: auto;
      aspect-ratio: 2 / 1;
      border-radius: 1.2rem;
    }

    img {
      width: 100%;
    }
  }

  .text {
    padding: 2.4rem 0;

    @include sp {
      padding: 0;
    }

    span {
      font-size: 1.4rem;
      color: $c-main;
      font-weight: 500;
    }

    h3 {
      font-size: 3.2rem;
      font-weight: bold;
      margin-top: 1rem;

      @include sp {
        font-size: 2.2rem;
      }
    }

    p {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2;
      margin-top: 2.4rem;
      text-align: justify;

      @include sp {
        font-size: 1.5rem;
        margin-top: 1.6rem;
      }
    }
  }
}

.bannerWrap {
  max-width: 80rem;
  width: 100%;
  margin: 12rem auto 0;

  .banner {
    transition: all 0.3s;

    @include hover {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
