@import "@sass-utils";

.concern {
  padding: 16rem 0;
  background-color: rgba($c-main, 0.05);
  // background-image: linear-gradient(180deg, rgb(245, 245, 247), rgb(255, 255, 255) 676px);
  background-color: #f5f5f7;

  .en {
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
    display: block;
    letter-spacing: 0.1em;
    text-align: center;
    color: $c-main;
  }

  h2 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1.6rem;
    text-align: center;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 6.4rem;
    gap: 2.4rem;

    li {
      position: relative;
      background-color: $c-white;
      border-radius: 3rem;
      padding: 3.2rem;
      font-weight: bold;

      // &::before,
      // &::after {
      //   font-weight: bold;
      //   font-size: 6rem;
      //   position: absolute;
      //   line-height: 1;
      // }

      // &::before {
      //   content: "“";
      //   left: 0;
      //   top: 0;
      // }

      // &::after {
      //   content: "”";
      //   right: 0;
      //   bottom: 0;
      // }
    }
  }
}

.box {
  position: relative;
  margin: 12rem auto 0;
  width: 80rem;
  aspect-ratio: 1 / 1;

  // &::before {
  //   content: "";
  //   width: 100%;
  //   height: 100%;
  //   // background-color: rgba($c-main, 0.5);
  //   border: 0.1rem solid $c-main;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   border-radius: 50%;
  //   animation: pulsate 2s infinite;
  // }
}

.boxInner {
  position: relative;
  padding: 16rem 0 10rem;
  background-color: $c-white;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

.acc {
  font-size: 3.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.75;
  // color: $c-text;
}

.text {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 2;
  // color: $c-text;
  margin-top: 2.4rem;
}

.btns {
  margin: 4rem auto 0;
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $c-white;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 10rem;
  background-color: $c-main;
  width: 18rem;
  height: 5.6rem;
  border: 0.2rem solid $c-main;
  transition: all 0.3s;

  @include hover {
    &:hover {
      background-color: $c-white;
      color: $c-main;
    }
  }

  &.isLine {
    background-color: $c-dark;
    border-color: $c-dark;

    @include hover {
      &:hover {
        background-color: $c-white;
        color: $c-dark;
      }
    }
  }
}

.bg {
  // background-color: $c-white;
  font-size: 12rem;
  font-weight: bold;
  margin-top: 12rem;

  display: flex;
  overflow: hidden;

  span {
    white-space: nowrap;
    opacity: 0.2;
    color: $c-text;
  }

  display: none;
}
