@import "@sass-utils";

.about {
  padding: 12rem 0;
  background-color: $c-main;
  // background-image: linear-gradient(to right top, #1454dd, #00c3ee);
  color: $c-white;

  h2 {
    font-family: var(--font-fig), var(--font-ja);
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
  }

  .text {
    margin-top: 4rem;
  }

  p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2;
    text-align: center;
  }
}

.list {
  display: grid;
  gap: 3rem 0;
  grid-template-columns: repeat(3, 1fr);
  margin: 6.4rem auto 0;
  max-width: 100rem;
}

.item {
  // background-color: $c-white;
  background-image: linear-gradient(
    to right bottom,
    rgba($c-white, 0.8),
    rgba($c-white, 0.5)
  );
  background: $c-white;
  padding: 4rem;
  border-radius: 1.6rem;
  color: $c-black;
  font-size: 1.8rem;
  font-weight: bold;
  width: calc(100% - 3rem);
  border: 1px solid rgba($c-white, 0.4);

  strong {
    // font-weight: 900;
    font-size: 2rem;
    color: $c-main;
    font-weight: 900;
    // background-image: linear-gradient(90deg, #ffc400, #ffc400);
    // background-size: 100% 1rem;
    // background-repeat: no-repeat;
    // background-position: left bottom;
  }

  &:nth-child(n + 4) {
    margin-left: auto;
  }
}

.bottomText {
  margin-top: 6.4rem;
}

.btnWrap {
  display: flex;
  justify-content: center;
  margin-top: 3.2rem;
}
