@import "@sass-utils";

.check {
  position: relative;
  display: flex;
  width: calc(50% - 0.4rem);
  padding-left: 2.8rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2;
  text-align: left;
  margin-top: 0.8rem;

  @include sp {
    width: 100%;
  }

  &::before {
    content: "";
    width: 2.2rem;
    height: 2.2rem;
    background-color: #e7e7ec;
    display: block;
    position: absolute;
    left: 0;
    top: 0.2rem;
  }

  &::after {
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    background-image: url("/images/common/icon-check-main.svg");
    background-size: 0, 0;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 0.4rem;
    top: 0.5rem;
  }

  &.isChecked {
    &::after {
      background-size: contain;
    }
  }

  &.isDisabled {
    text-decoration: line-through;
    cursor: not-allowed;

    &::before {
      // background-color: $c-white;
      // border: 0.1rem solid #e7e7ec;
    }

    span {
      opacity: 0.7;
    }
  }
}
