@import "@sass-utils";

.body {
  padding-bottom: 12rem;
}

.bodyContent {
  background-color: $c-white;
  padding: 10rem 3rem;
  border-radius: 1.6rem;
}

.contentInner {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
}
