@import "@sass-utils";

.form {
  font-size: 1.6rem;
  margin-top: 3.2rem;

  @include sp {
  }
}

.inner {
  display: grid;
  gap: 4.4rem;
  max-width: 70rem;
  margin: 0 auto;

  @include sp {
    gap: 3.2rem;
  }
}

.info {
  font-size: 1.6rem;
  font-weight: 500;

  @include sp {
    font-size: 1.5rem;
  }

  span {
    color: $c-sub;
  }
}

.row {
  display: flex;
  flex-direction: column;

  &.isBtn {
    justify-content: center;
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
  }
}

.label {
  font-weight: bold;
  min-width: 18rem;
  padding-right: 2.4rem;
  cursor: pointer;

  @include sp {
    min-width: auto;
    font-size: 1.5rem;
  }

  &.isRequired {
    &::after {
      content: "*";
      color: $c-sub;
    }
  }
}

.control {
  flex-grow: 1;
  font-weight: 500;
  margin-top: 1.6rem;

  @include sp {
    margin-top: 0.8rem;
  }

  &.isSelect {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 0.8rem;
      height: 0.8rem;
      border-top: 0.2rem solid $c-main;
      border-right: 0.2rem solid $c-main;
      position: absolute;
      right: 2rem;
      top: 2rem;
      rotate: 135deg;
    }
  }
}

.input,
.select,
.textarea {
  width: 100%;
  // border: 0.1rem solid #d7e1e7;
  border: 0.1rem solid #ebebeb;
  padding: 1.2rem;
  appearance: none;
  background-color: #f5f5f7;
  outline: none;
  border-radius: 0.8rem;
  color: $c-black;

  @include sp {
    border-radius: 0.4rem;
  }

  &:focus {
    border-color: $c-main;
  }
}

.textarea {
  min-height: 32rem;
  resize: vertical;

  @include sp {
    min-height: 24rem;
  }
}

.btnWrap {
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;

  @include sp {
    margin-top: 1.6rem;
  }
}

.submitBtn {
  background-color: $c-main;
  color: $c-white;
  font-weight: bold;
  width: 40rem;
  height: 6rem;
  border-radius: 10rem;
  border: 0.1rem solid $c-main;
  transition: all 0.3s;

  @include sp {
    width: 100%;
    height: 5.6rem;
    max-width: 24rem;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  @include hover {
    &:hover {
      color: $c-main;
      background-color: $c-white;
    }
  }
}

.errorMessage {
  color: $c-error;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 0.8rem;

  @include sp {
    font-size: 1.2rem;
  }
}
