@import "@sass-utils";

.main {
}

.body {
  padding-bottom: 12rem;
}

.bodyContent {
  background-color: $c-white;
  padding: 6.4rem 3rem;
  border-radius: 1.6rem;
}

.contentInner {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
}

.list {
}

.item {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
  padding: 2.4rem 0;
  border-bottom: 0.1rem solid #dfe2ed;

  dt {
    font-weight: bold;
    padding-right: 2.4rem;
    width: 22rem;
    flex-shrink: 0;
  }

  dd {
  }
}
