@import "@sass-utils";

.main {
}

// mv

.body {
  background-color: $c-white;
  padding: 0 0 12rem;
  // background-image: linear-gradient(
  //     0deg,
  //     transparent calc(100% - 1px),
  //     #f5f5f5 calc(100% - 1px)
  //   ),
  //   linear-gradient(
  //     90deg,
  //     transparent calc(100% - 1px),
  //     #f5f5f5 calc(100% - 1px)
  //   );
  // background-size: 2.4rem 2.4rem;
  // background-repeat: repeat;
  // background-position: center top;

  background-color: #f5f5f7;

  @include sp {
    padding-bottom: 8rem;
  }
}

.container {
}

.intro {
  text-align: center;
  font-weight: 500;
  line-height: 2;
  font-size: 1.6rem;

  @include sp {
    font-size: 1.5rem;
    text-align: left;

    br {
      display: none;
    }
  }
}

.link {
  text-align: center;
  display: inline-flex;
  align-items: center;
  color: $c-link;
  line-height: 1.25;
  border-bottom: 0.1rem dashed $c-link;
  transition: all 0.3s;

  @include hover {
    &:hover {
      color: darken($c-main, 20%);
      border-color: darken($c-main, 20%);
    }
  }

  svg {
    transform: translateY(-0.1rem);
    margin-left: 0.2rem;
  }
}

.form {
  padding: 8rem 6rem;
  border-radius: 1.6rem;
  background-color: $c-white;
  // box-shadow: 0 0.4rem 1rem 0.4rem rgba($c-main, 0.08);
  // border: 1px solid #e7eff3;

  @include sp {
    padding: 4rem 2rem 5.6rem;
  }
}
