@import "@sass-utils";

.breadcrumb {
  margin-top: 8rem;

  @include sp {
  }
}

.list {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.item {
  position: relative;
  display: inline;
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 0.8rem;

  @include sp {
    margin-right: 0.4rem;
  }
}

.link {
  display: inline-block;
  position: relative;
  text-decoration: underline;
  transition: all 0.3s;

  &.is_home {
  }

  @include hover {
    &:hover {
      color: $c-main;
    }
  }
}

.name {
  color: #808691;
}

.arrow {
  // position: absolute;
  // right: -2rem;
  font-size: 1.8rem;
  margin-left: 0.8rem;
  transform: translateY(0.4rem);

  @include sp {
    margin-left: 0.4rem;
  }
}
